/* font-family: "Montserrat", sans-serif;*/

/*font-family: "Raleway", sans-serif;*/
/*font-family: "Roboto", sans-serif;*/

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fff;
}
 /* reset */ 
ul, 
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a { 
    text-decoration: none;
}

/* common*/

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container { 
    display: flex;
    align-items: center;
     
}

.heder-nav {
    display: flex;
    align-items: center;
}


.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}



.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color:#404bbf;

}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus, 
.nav-link.current 
{
    color: #404bbf;
}

.section-hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    text-align: center;
    padding: 188px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 40px; 
    margin: 0 auto; 
    text-align: center;
    display: block;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4d5ae5;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px ;
    border: none; 
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    height: 56px;
    min-width: 169px;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
   
 
}

.button:hover,
.button:focus {
    background-color:#404bbf;
}
 

.section-second {
    padding: 120px 0 120px;
    
   
       
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title-list {
    max-width: 1128px;
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
      
}

.section-title-item {
    flex-basis: calc((100% - 72px) /4);
    border-radius: 4px;
    position: relative; 
    height: 224px;
    margin-bottom: 8px;
          
}

.icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}


.section-add-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    margin-bottom: 8px;
    
}

.section-description {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.our-team {
    background-color: #f4f4fd;
    padding: 120px 0;
} 
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    color: #2e2f42;
    margin-bottom: 72px;
    display: block;
    
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    
}


.team-title-list {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) /4);
    margin: 0 auto;
   
    }

    
.social-networks-list {
        display: flex;
        justify-content: center;
        gap: 24px; 
        padding: 0;
        margin-top: 8px;
        list-style: none;
    }
    


.social-link,.social-link-list {
        width: 40px;
        height: 40px;
        background-color: #4D5AE5; 
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms ;
    
    }

.social-link:hover,
.social-link:focus {
    background: #404bbf;
}
    

.icon-social-networks {
        fill: #f4f4fd;  
        
    }
.team-card-content {
        padding: 32px 0;
    }



.team-add-title { 
    font-weight:  500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    margin-bottom: 8px;
    
}

.team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.portfolio-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 48px 24px;
 
}

.portfolio-list-item {
    margin-bottom: 48px 0;
    width: calc((100% - 48px) / 3); 
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 360px;
    background-color: #fff; 
}

.portfolio-list-item:hover
 {
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);   
}

.portfolio-list-item:hover .stylish-and-user-friendly {
  transform: translateY(0);
 
}

.portfolio-info {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
   
}

.portfolio-image-container {
    position: relative; 
    overflow: hidden;
    
}

.stylish-and-user-friendly {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.portfolio-add-title {
    font-weight: 500;
    font-size:  20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-description
{   font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}


.footer-logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
    
}
.page-footer {
    background-color: #2e2f42;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 100px 0;
    margin-bottom: 16px;
}
    
.footer-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    display: flex;
    max-width: 1158px;
    text-align: left;
    width: 264px;
    margin-bottom: 16px;
}

.social-networks {
    margin-right: 120px;
}


.social-networks-group {
    display: flex; 
    gap: 16px;
}

.footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff; 
    text-align: left;
    position: relative;
    margin-bottom: 16px;
   
    
}

.social-link, 
.social-link-list { 
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
 
.social-link-list:hover,
.social-link-list:focus {
    background-color: #31D0AA; 
    transform: scale(1.05);

}

.icon-social-networks-footer {
    fill: #f4f4fd;
}


.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 16px;

}
.logo-end {
    margin-right: 120px;
}